---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Animating">
	<main>
		<h1 class="text-gradient">Animating</h1>
	</main>
	<Nav prevLabel="Why?" prevHref="/why" nextLabel="umm?" nextHref="/umm" />
</Layout>
