---
import Layout from '../layouts/Layout.astro';
import Svg from '../components/Svg.astro';
---

<Layout pageKey="creating">
	<ul>
		<li>Inkscape</li>https://inkscape.org/
		<li>Figma</li>figma.com
	</ul>
	<Svg filename="figma" />
	<Svg filename="inkscape" />
</Layout>
