---
import Layout from '../layouts/Layout.astro';
// https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g
// https://developer.mozilla.org/en-US/docs/Web/SVG/Element/svg
---

<Layout pageKey="groups">
	<p>Embed here</p>
	<pre><code><g></g></code></pre>
</Layout>
