---
import Layout from '../layouts/Layout.astro';
import Svg from '../components/Svg.astro';
import Groups from '../svg/groups.svg?raw';
// https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g
// https://developer.mozilla.org/en-US/docs/Web/SVG/Element/svg
---

<Layout pageKey="groups">
	<pre><code>{Groups}</code></pre>
	<div class="example"><Svg filename="groups" /></div>
</Layout>
