---
import Layout from '../layouts/Layout.astro';
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Getting_Started
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Positions
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Texts
// talk about basic format, attributes, etc.
// xmlns = xml namespace, how to interpret the tags, example: html and svg both have <title> tags
---

<Layout pageKey="how">
	<p class="codepen" data-default-tab="html" data-height="600" data-default-tab="html,result" data-slug-hash="yLEBLeg" data-user="goshdarnheck" style="height: 400px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"></p>
	<h2>XML Declaration?</h2>
	<pre><code class="language-xml">{'<?xml version="1.0" encoding="UTF-8"?>'}</code></pre>
</Layout>
