---
import Layout from '../layouts/Layout.astro';
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Getting_Started
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Positions
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Texts
// talk about basic format, attributes, etc.
---

<Layout pageKey="how">
	<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="yLEBLeg" data-user="goshdarnheck" style="height: 400px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"></p>
</Layout>
