---
import Layout from '../layouts/Layout.astro';
---

<Layout pageKey="how">
	<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="yLEBLeg" data-user="goshdarnheck" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
		<span>See the Pen <a href="https://codepen.io/goshdarnheck/pen/yLEBLeg">
		SVG - Example 1</a> by Matt R (<a href="https://codepen.io/goshdarnheck">@goshdarnheck</a>)
		on <a href="https://codepen.io">CodePen</a>.</span>
	</p>
	<p>talk about basic format, attributes, etc.</p>
	https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Getting_Started
	https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Positions
	https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Texts
</Layout>
