---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Intro">
	<main>
		<h1 class="text-gradient">Scalable<br/>Vector<br/>Graphics</h1>
	</main>
	<Nav nextLabel="What?" nextHref="/what" />
</Layout>

<style>
	/* page styles here, thanks */
</style>
