---
import Layout from '../layouts/Layout.astro';
import Svg from '../components/Svg.astro';
import Bolt from '../svg/bolt.svg?raw';
---

<Layout pageKey="intro">
	<div class="example"><Svg filename="bolt" /></div>
	<pre><code class="language-xml">{Bolt}</code></pre>
</Layout>
