---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="How">
	<main>
		<h1 class="text-gradient">How?</h1>
		<ul>
			<li>Masks</li>
			<li>Filters</li>
			<li>etc.</li>
		</ul>
	</main>
	<Nav prevLabel="Why?" prevHref="/why" nextLabel="umm?" nextHref="/umm" />
</Layout>
