---
import Layout from '../layouts/Layout.astro';
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Patterns
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Gradients
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Basic_Transformations
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Clipping_and_masking
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Other_content_in_SVG
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Filter_effects
// https://developer.mozilla.org/en-US/docs/Web/SVG/Namespaces_Crash_Course
---

<Layout pageKey="more">
	<ul>
		<li>Masks</li>
		<li>Filters</li>
		<li>etc.</li>
	</ul>
</Layout>
