---
import Layout from '../layouts/Layout.astro';
---

<Layout pageKey="more">
	<ul>
		<li>Masks</li>
		<li>Filters</li>
		<li>etc.</li>
		https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Patterns
		https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Basic_Transformations
		https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Clipping_and_masking
		https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Other_content_in_SVG
		https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Filter_effects
	</ul>
</Layout>
