---
import Layout from '../layouts/Layout.astro';
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Patterns
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Gradients
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Clipping_and_masking
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Other_content_in_SVG
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Filter_effects
---

<Layout pageKey="more">
	<div class="list">
		<ul>
			<li>Patterns</li>
			<li>Gradients</li>
			<li>Masks</li>
			<li>Embedding raster images</li>
			<li>Filters</li>
			<li>…</li>
		</ul>
	</div>
</Layout>
