---
import Layout from '../layouts/Layout.astro';
---

<Layout pageKey="optimizing">
	<h2>svgo</h2>
	<ul>
		<li>npm: <a href="https://www.npmjs.com/package/svgo">https://www.npmjs.com/package/svgo</a></li>
		<li>webapp: <a href="https://jakearchibald.github.io/svgomg/">https://jakearchibald.github.io/svgomg/</a></li>
	</ul>
</Layout>
