---
import Layout from '../layouts/Layout.astro';
---

<Layout pageKey="optimizing">
	<h2>svgo</h2>
	<ul>
		<li>online</li>
		<li>npm package</li>
		https://www.npmjs.com/package/svgo
		https://jakearchibald.github.io/svgomg/
	</ul>
</Layout>
