---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Optimizing">
	<main>
		<h1 class="text-gradient">Optimizing</h1>
		<p>svgo</p>
		<p>online</p>
		<p>npm package</p>
	</main>
	<Nav prevLabel="Why?" prevHref="/why" nextLabel="umm?" nextHref="/umm" />
</Layout>
