---
import Layout from '../layouts/Layout.astro';
import Svg from '../components/Svg.astro';
import Bolt from '../svg/bolt.svg?raw';
import Heart from '../svg/heart.svg?raw';
import Cubic from '../svg/cubic.svg?raw';
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Paths
/*
M = move to
m = move to, relative
L = line to
l = line to, relative
H = horizontal line
h = horizontal line, relative
V = vertical line
v = vertical line, relative
Z = close path (or z)
C = Bézier Curves - C x1 y1, x2 y2, x y
S = Several Bézier curves
Q = quadratic Bézier curve
T = Several quadratic Béziers
A = A rx ry x-axis-rotation large-arc-flag sweep-flag x y
*/
---

<Layout pageKey="paths">
	<pre><code class="language-xml">{Bolt}</code></pre>
	<div class="example"><Svg filename="bolt" /></div>

	<h2>Arcs & Quadratic Bézier Curves</h2>
	<pre><code class="language-xml">A rx ry x-axis-rotation large-arc-flag sweep-flag x y
Q x1 y1, x y</code></pre>
	<pre><code class="language-xml">{Heart}</code></pre>
	<div class="example"><Svg filename="heart" /></div>

	<h2>Cubic Bézier Curves</h2>
	<pre><code class="language-xml">C x1 y1, x2 y2, x y</code></pre>
	<pre><code class="language-xml">{Cubic}</code></pre>
	<div class="example"><Svg filename="cubic" /></div>

	<h2>Others</h2>
	<pre><code class="language-xml">H: horizontal line
h: relative horizontal line
V: vertical line
v: relative vertical line
S: several Bézier curves
T: several quadratic Béziers</code></pre>
</Layout>
