---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Shapes">
	<main>
		<h1 class="text-gradient">Shapes</h1>
		<p>Embed here</p>
	</main>
	<Nav prevLabel="Why?" prevHref="/why" nextLabel="umm?" nextHref="/umm" />
</Layout>
