---
import Layout from '../layouts/Layout.astro';
---

<Layout pageKey="shapes">
	<h2>Circle</h2>
	<h2>Line</h2>
	<h2>Rect</h2>
	<h2>Ellipse</h2>
	<h2>Polygon</h2>
	https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Basic_Shapes
	https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Fills_and_Strokes
	https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Gradients
</Layout>
