---
import Layout from '../layouts/Layout.astro';
// https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/SVG_and_CSS
---

<Layout pageKey="styling">
  <p>Inline SVGs can be styled with CSS. SVGs used in img tags are not.</p>
  <p>some example here I guess</p>
</Layout>
