---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="What">
	<main>
		<h1 class="text-gradient">What?</h1>
		<p>
			<a href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics">https://en.wikipedia.org/wiki/Scalable_Vector_Graphics</a>
		</p>
		<ul>
			<li>2D vector image format</li>
			<li>XML</li>
		</ul>
	</main>
	<Nav prevLabel="Intro" prevHref="/" nextLabel="Why?" nextHref="/why" />
</Layout>
