---
import Layout from '../layouts/Layout.astro';
---

<Layout pageKey="why">
	<ul>
		<li>Small file size</li>
		<li>Scalable</li>
		<li>Style w/ CSS</li>
		<li>Animations</li>
		<li>Complression</li>
		<li>Universal</li>
	</ul>
</Layout>
