---
import Layout from '../layouts/Layout.astro';
---

<Layout pageKey="why">
	<div class="list">
		<ul>
			<li>Small file size</li>
			<li>Scalable</li>
			<li>Style w/ CSS</li>
			<li>Animations</li>
			<li>Compression</li>
			<li>Universal</li>
		</ul>
	</div>
</Layout>
