---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Why">
	<main>
		<h1 class="text-gradient">Why?</h1>
		<ul>
			<li>Small file size</li>
			<li>Scalable</li>
			<li>Style w/ CSS</li>
			<li>Animations</li>
			<li>Complression</li>
			<li>Universal</li>
		</ul>
	</main>
	<Nav prevLabel="What?" prevHref="/what" nextLabel="How?" nextHref="/how" />
</Layout>
