---
import pages from '../lib/pages';
export interface Props {
	pageKey: string;
}

const { pageKey } = Astro.props;
const page = pages[pageKey as keyof typeof pages];
---

<nav class="nav">
	{page.prev ? <a href={page.prev === 'intro' ? '/' : page.prev}>{pages[page.prev].name}</a> : <div/>}
	{page.next ? <a href={page.next}>{pages[page.next].name}</a> : <div/>}
</nav>
<style>
	.nav {
		display: flex;
		justify-content: space-between;
		max-width: 60ch;
		margin: 0 auto;
	}

	.nav > a {
		
	}
</style>
