---
import pages from '../lib/pages';
export interface Props {
	pageKey: string;
}

const { pageKey } = Astro.props;
const page = pages[pageKey as keyof typeof pages];
const title = pageKey === 'intro' ? "Scalable Vector Graphics" : page.name;
---

<h1 class="text-gradient">{title}</h1>
<style>
	h1 {
		font-size: 6rem;
		font-variant: small-caps;
		font-weight: 800;
		font-family: Consolas;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
