---
import pages from '../lib/pages';
export interface Props {
	pageKey: string;
}

const { pageKey } = Astro.props;
const page = pages[pageKey as keyof typeof pages];
const title = pageKey === 'intro' ? "Scalable Vector Graphics" : page.name;
---

<h1 class="text-gradient">{title}</h1>
