---
export interface Props {
	title?: string;
	pageKey: string;
}
import Nav from '../components/Nav.astro';
import Title from '../components/Title.astro';
import pages from '../lib/pages';
import 'highlight.js/styles/github.css';

const { title, pageKey } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>SVGs ⚡ {title ? title : pages[pageKey].name}</title>
	</head>
	<body>
		<main>
			<Nav pageKey={pageKey} />
			<Title pageKey={pageKey} />
			<slot />
		</main>
		<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--primary: #3A7CED;
		--secondary: #0b1ba8;
		--accent-gradient: linear-gradient(45deg, var(--primary), var(--secondary) 30%, white 60%);
	}

	html {
		font-family: helvetica, arial, system-ui, sans-serif;
		background-color: #F6F6F6;
	}

	body {
		margin: 0;
	}

	main {
		margin: auto;
		padding: 0 4em 4em;
		font-size: 20px;
		max-width: 100ch;
	}

	a,
	a:visited {
		color: var(--primary);
		text-decoration: none;
	}

	a:hover,
	a:active {
		color: var(--secondary);
	}

	h1 {
		text-align: center;
		font-size: 6rem;
		font-variant: small-caps;
		font-weight: 800;
		margin-top: 0;
	}

	h2,
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.example {
		display: flex;
		justify-content: space-around;
		margin: 2em;
	}

	.example svg {
		outline: 5px dashed black;
	}

	.list {
		display: flex;
		justify-content: center;
		font-size: 2em;
	}

	.list ul {
		display: inline-block;
		padding-left: 0;
		list-style-position: inside;
		list-style-type: circle;
	}
</style>
<script>
	import hljs from 'highlight.js/lib/core';
	import xml from 'highlight.js/lib/languages/xml';
	import css from 'highlight.js/lib/languages/css';
	import javascript from 'highlight.js/lib/languages/javascript';
	hljs.registerLanguage('xml', xml);
	hljs.registerLanguage('css', css);
	hljs.registerLanguage('javascript', javascript);
	hljs.highlightAll();
</script>
