---
export interface Props {
	title?: string;
	pageKey: string;
}
import Nav from '../components/Nav.astro';
import Title from '../components/Title.astro';
import pages from '../lib/pages';

const { title, pageKey } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>SVGs ⚡ {title ? title : pages[pageKey].name}</title>
	</head>
	<body>
		<main>
			<Nav pageKey={pageKey} />
			<Title pageKey={pageKey} />
			<slot />
		</main>
		<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--primary: #3A7CED;
		--secondary: #0b1ba8;
		--accent-gradient: linear-gradient(45deg, var(--primary), var(--secondary) 30%, white 60%);
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}

	body {
		margin: 0;
	}

	code {
		font-family: Consolas;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	a,
	a:visited {
		color: var(--primary);
		text-decoration: none;
	}

	a:hover,
	a:active {
		color: var(--secondary);
	}
</style>
